
table, th, td {
    border: 0px solid rgb(36,36,44);
    border-collapse: collapse;
  }


#BancoDeDados{
  position:absolute;
	left:60%;
	top:25%;
	margin-left:-110px;
	margin-top:-40px;
}


li {
  float: left;
  border-right:0.5px solid #bbb;
}

li:last-child {
  border-right: none;
}


li a:hover:not(.active) {
  background-color: rgba(196, 196, 196, 0.062);
}



body {
  
	font-family: sans-serif;
}


.sidenav{
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0px;
  top:7%;
  background-color: rgb(36,36,44);
}

#Componente1{
  position: absolute;
  color: rgb(255, 255, 255);
  right: 26%;
  top: 3%;
}

#imgComp1{
  position: absolute;
  border-radius: 10px;
  opacity: 0.3;
  right: 23%;
  top: 9%;
  width: 204px;
  height: 204px;
}


#Componente2{
  position: absolute;
  color: rgb(255, 255, 255);
  right: 26%;
  top: 45%;
}

#imgComp2{
  position: absolute;
  border-radius: 10px;
  opacity: 0.3;
  right: 23%;
  top: 51%;
  width: 204px;
  height: 204px;
}

#BotaoComp{
  position: absolute;
  right: 23%;
  top: 88%;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background : rgb(44,44,52);
}


.table-responsive{
  overflow-y: scroll;
  height: 500px;
}


#remove1{
  position: absolute;
  right: 18%;
  top: 7%;
}


#remove2{
  position: absolute;
  right: 18%;
  top: 49%;
}

#nomeComp1{
  position: absolute;
  opacity: 0.5;
  right: 23%;
  top: 37%;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 210px; 
  word-break: break-word;
}

#nomeComp2{
  position: absolute;
  opacity: 0.5;
  right: 23%;
  top: 79%;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 210px; 
  word-break: break-word;
}




@media (max-width: 1350px) {
.sidenav{
  position: absolute;
  width: 100%;
  height: 80%;
  right: 0px;
  left: 0px;
  top:80%;
  background-color: #1E2027;
}
 


#tabela{
  position: absolute;
  width: 100%;
  height: 50%;

}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background : rgb(44,44,52);
}


.table-responsive{
  overflow-y: scroll;
  width: 100%;
  height: 200px;
}

#Componente1{
  position: absolute;
  color: rgb(255, 255, 255);
  right: 65%;
  top: 2%;
}

#Componente2{
  position: absolute;
  color: rgb(255, 255, 255);
  right: 9%;
  top: 2%;
}

#imgComp1{
  position: absolute;
  border-radius: 10px;
  opacity: 0.3;
  right: 65%;
  top: 8%;
  width: 150px;
  height: 150px;
}


#imgComp2{
  position: absolute;
  border-radius: 10px;
  opacity: 0.3;
  right: 10%;
  top: 8%;
  width: 150px;
  height: 150px;
}

#nomeComp1{
  position: absolute;
  opacity: 0.5;
  right:60%;
  top: 35%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  width: 210px; 
  word-break: break-all;
}

#nomeComp2{
  position: absolute;
  opacity: 0.5;
  right: 5%;
  top: 35%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  width: 210px; 
  word-break: break-all;
}

#BotaoComp{
  position: absolute;
  right: 32%;
  height: 100%;
  top: 50%;
}

#remove1{
  position: absolute;
  right: 60%;
  top: 7%;
}


#remove2{
  position: absolute;
  right: 6%;
  top: 7%;
}


table, th, td {
  border: 0px solid rgb(36,36,44);
  border-collapse: collapse;
  width: 100%;
}


}

