

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


#BancoDeDados{
    position:absolute;
	left:60%;
	top:25%;
	margin-left:-110px;
	margin-top:-40px;
}


li {
  float: left;
  border-right:0.5px solid #bbb;
}

li:last-child {
  border-right: none;
}


li a:hover:not(.active) {
  background-color: rgba(196, 196, 196, 0.062);
}


body {
	background-color: rgb(255, 255, 255);
	font-family: sans-serif;
}

